body{
    background-color: bisque;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}

nav ul{
    display: flex;
 width: 100%;
    list-style-type: none;
    height: 100px;
    background-color: white;
    color: #000000;
    font-size: 1.2em;
    font-family: sans-serif;
    font-weight: 600;
    
}

nav ul :hover{
    color: #55a14f;
    display: inline-block;
    position: relative;
    text-decoration: underline;
}




.brandname{
     
    left: 0px;
    font-size: 1.5em;
    top: 15px;

}
nav ul li{
    padding: 16px;
    position: relative;
    left: 700px;
    top: 15px;
    
}

.brand img{
    
max-width: 10px;

    
}

.banner img{
    width: 100%;
   
    
}

.container{
    min-height: 50vh;
    background-color: transparent;
    color: black;
    display: flex;
    margin: 23px auto;
    width: 87%;
    border-radius: 87px;
    background-image: url("images/bg.jpg");
    padding: 0px 9px 23px 23px;
}

.container{
    min-height: 100vh;
    }